<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>CMAD API Control Panel <small>A labour of love <i class="icon-heart"><!-- --></i></small></h1>
        <p>You asked for it, so I went and did it. Hope it works out for you :3</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Feeds</h2>
          <p>Generate new social and image feeds. See a list of all the current feeds. Modify feed settings. Generate info to give to devs.</p>
          <p><a class="btn disabled" href="/feedgen">View Current Feeds &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Polls</h2>
          <p>Create new polls. Reset old polls. View current poll statistics.</p>
          <p><a class="btn disabled" href="#">View Current Polls &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Other Things!</h2>
          <p>I dunno... maybe a unicorn of something.</p>
          <p><a class="btn" href="https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&biw=1812&bih=880&q=unicorns&oq=unicorns&gs_l=img.3..0l10.1718.2660.0.2988.8.6.0.2.2.0.114.614.2j4.6.0...0.0...1ac.1.7.img.w_7-nUAR2j0" target="_new">UNICORNS?! &raquo;</a></p>
        </div>
      </div>

      <hr>
